[Unit]
Description=Dummy Systemd Service
After=network.target

[Service]
ExecStart=/usr/local/bin/dummy.sh
Restart=always
User=root

[Install]
WantedBy=multi-user.target
